<div class="imagen_fondo">
  <h1 class="titulo_banner"> ¿Cómo podemos ayudarte? </h1>
  <p class="texto_banner">Deja que un asistente te ponga en contacto con uno de nuestros trabajadores</p>
  <div class="Boton">
    <button type="button" class="btn btn-success">Contacto</button>
  </div>
</div>


<div class="container text-center">
  <div class="row">
    <div class="col">
      <div class="imagen">
        <img
          src="https://www.redbull.com/energydrink/v1/resources/contentful/images/lcr8qbvxj7mh/6LzxKedpo3VHNM8IwWcDk3/009ce7ed94351d03e1c0babaa8703843/Ryan_-_RB_assistant-Person_circle_v2.gif?w=180&h=246&fm=webp&fit=fill&q=90"
          alt="">
      </div>
    </div>
    <div class="col">
      <div class="cardContacto">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Soporte</h5>
            <p class="card-text">Deja que el asistente te ayude a encontrar la información que buscas o a ponerte en
              contacto con la persona correcta de BlogBuster.</p>
            <a href="#" class="btn btn-success">Haz una pregunta</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="PreguntasFrecuentes">
  <h1>Preguntas Frecuentes</h1>
  <div class="preguntas">
    <p>
      <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
        aria-controls="collapseExample">
       ¿Cuales son nuestros términos y condiciones?
      </a>
    </p>
    <div class="collapse" id="collapseExample">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>

    <p>
      <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        ¿Qué es BlogBuster?
      </a>
    </p>
    <div class="collapse" id="collapseExample1">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>

    <p>
      <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample2" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        ¿Es seguro usar BlogBuster?
      </a>
    </p>
    <div class="collapse" id="collapseExample2">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>

    
    <p>
      <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false"
        aria-controls="collapseExample">
        ¿Cuales son los costos por utilizar la app?
      </a>
    </p>
    <div class="collapse" id="collapseExample3">
      <div class="card card-body">
        Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
        activates the relevant trigger.
      </div>
    </div>
  </div>
</div>